@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
    list-style-type: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Meyer Reset CSS */

img {
	max-width: 100%; /*makes images scale with flexible grids*/
	display: block; /*removes tiny space added in some browsers below images */
}

html {
    font-size: 16px;
	line-height: 1.5em;
}

.wrapper {
    width: 640px;
/*    min-width: 640px;*/
    margin: 0 auto;
    position: relative;
    
}

h1 {
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    color: #231F20;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5em; 
    text-align: center;
    margin-top: 30px
}

h2 {
    font-family: 'Lato', sans-serif;
    color:#737577;
    font-weight: 300;
    letter-spacing:5px;
    text-align: center;
    margin-bottom: 20px
}

h3 {
    font-family: 'Lato', sans-serif;
    color:#434345;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 10px;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 22px;
    color: #737577;
    padding-top: 26px;
    letter-spacing: 4px;
}

h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 23px;
    color: #434345;
    margin-top: 20px;
    padding: 2px 2px 2px;
    float: left;
    margin-left: 23px;
}

p {
    font-family: 'Lato', sans-serif;
    color:#737577;
    font-weight: 500;
    margin-top: 50px;
    font-size: 18px;
    line-height: 40px;
    margin-right: 40px;
}

.color {
    color: white;
}

.left {
    text-align: left;
}

.margin {
    margin-left: 40px;
    margin-right: 40px;
}

.last {
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 1410px;
}


.fixed {
    position: fixed;
    z-index: 10;
    background-color:#3e3e3f;
    width: 100%;
    height: 110px;
}

a {
    color:white;
    text-decoration: none;
}

nav {
    overflow: hidden;
    float: left;
    margin-right: 70px;
}

.menu_button {
    padding:1em 1em 1em 1em;
    color: white;
    font-size: 40pt;
    float: left;  
   
}

.menu_button:hover {
    
}

#menu {
    margin-top: 110px;
    background-color: #3e3e3f;
    display:none;
    width: 100%;
}

#menu li {
    width: 100%;
    font-family: 'lato', sans-serif;
    font-weight: 200;
    font-size: 18pt;
    letter-spacing: 2pt;
    padding: 1em 0em;
    margin: 2em 0em;
    text-align: center;
  
}

#menu li:hover {
    color: black;
}

a {
    color:white;
    text-decoration: none;
}

/*
.hamburger {
    color: white;
    float: left;
    margin-left: 20px;
    font-size: 60px;
}
*/

.logo {
    margin-left: 20px;
    margin-top: 1.5em;
    margin-right: 70px;
    width: 140px;
    float: left;
    
}

.navicon {
    margin-top: 2.25em;
    margin-left: 25px;
    width: 50px ;
    float: left;
    
}

header {
    position: relative;
    top: 120px;
    
}

.cta {
    position: absolute;
    bottom: -60px;
    margin-left: 120px;
    align-content: center;
    text-align: center;
}

main {
   padding-left: 40px;
    margin-top: 30px;
    padding-right: 40px;
}

.box {
    margin-left: 40px;
    margin-right: 40px;
    align-content: center;
}

section {
    
    margin-bottom: 100px;
/*    text-align: center;*/
}

button {
    color: white;
    background-color: transparent;
    font-family: 'lato', sans-serif;
    margin-top: 15px;
    font-weight: 300; 
    font-size: 16px;
    letter-spacing: 5px;
    border: 3px  solid white;
    width: 170px;
    height: 55px;
    text-align: center;
    
}

button:hover {
    background-color: rgba(0,0,0,.5);
    color: white;
}

.size {
    width: 558px;
    height: 320px;
    margin-left: 40px;
    margin-top: 50px;
}


aside {
    background-color: #e4e5e5;
    padding-top: 40px;
    width: 558px;
    height: 280px;
    margin-left: 40px;
}

.info {
    align-content: center;
    height: auto;
}

.buttonstyle {
    background-color: black;
    border: none;
    width: 200px;
    height: 65px;
    font-size: 14px;
    margin-top: 80px;
    margin-left: 170px
}

.icon {
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 150px;
    width: 121px;
}


.icon:hover {
    background-color: white;
    opacity: .5;
    color: white;
}

.buttonbox {
    margin-left: 40px;
    margin-top: 70px;
    margin-bottom: 400px;
    
}


.appbutton {
    float: left;
    margin-right: 56px;
}

.appbutton:hover {
    opacity: .8;
}


.iconbox2 {
    float: left;
    margin-bottom: 25px;
    
}
.iconlist1 {
    width: 640px;
    margin-bottom: 400px;
}

.iconlist2 {
    width: 640px;
}


.icon2 {
    margin-left: 40px;
    margin-right: 30px;
    float: left;
    margin-top: 50px;
    
}

.pstyle {
    float: right;
    width: 385px;
    margin-left: 20px;
    border-top: 3px solid #cdcfd0;
    padding-top: 20px;
    
    
}
.gray {
    font-size: 30px;
    margin-bottom: 80px;
}

.image {
    width: 650px;
    margin-bottom: 30px;
    margin-top: 80px;
}

.align {
    margin-left: 0px;
    border: solid 2px gray;
}

.indent {
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: -20px
}

.mr {
    margin-top: 30px;
    margin-left: 25px;
}

.move {
    margin-top: 40px;
    border-top: 3px solid #cdcfd0;
    padding-top: 20px;

    
}
.price {
    float: right;
    font-size: 35px;
    margin-top: -27px;
    margin-right: 40px;
    
}

.total {
    height: 1100px;
    margin-left: 40px;
}

.product {
    width: 560px;
    height: 370px;
    margin-top: 200px;
    margin-left: 40px;
   margin-bottom: 30px;
}

.options {
    background-color: #e4e5e5 ;
    width: 560px;
    height: 750px;
    margin-left: 40px;
    margin-bottom: 30px;
    
}

.colors {
    height: 120px;
    border-bottom: 2px  solid #8f9194;
    width: 506px;
    margin-left: 25px;
    
}

.size {
    height: 117px;
    margin-top: 0;
    margin-left: 0;
    border-bottom: 2px  solid #8f9194;
    width: 506px;
    margin-left: 25px;
}

.bluetooth {
    height: 113px;
    border-bottom: 2px  solid #8f9194;
    width: 506px;
    margin-left: 25px;
}

.extras {
    height: 115px;
    border-bottom: 2px  solid #8f9194;
    width: 506px;
    margin-left: 25px;
    
}

.material {
    height: 118px;
    border-bottom: 2px  solid #8f9194;
    width: 506px;
    margin-left: 25px;
}

.quantity {
    background-color: ;
    height: 167px;
    width: 506px;
    margin-left: 25px;
}

.black{
    width: 55px;
    height: 19px;
    float: left;
    margin-top: 20px;
    background-color: black;
}

.burgundy {
    width: 55px;
    height: 19px;
    float: left;
    margin-top: 20px;
    background-color: #8c5456;
    margin-left: 20px;
    
}

.purple {
    width: 55px;
    height: 19px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #686684
}

.olive {
    width: 55px;
    height: 19px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #868265;
}

.teal {
    width: 55px;
    height: 19px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #647E82;
}

.brown {
    width: 55px;
    height: 19px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #886852;
}

.magenta {
    width: 55px;
    height: 19px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #976D84;
}

.buttonstyle2 {
    background-color: black;
    border: none;
    width: 559px;
    height: 62px;
    margin-top: 70px;
    font-size: 20px;
}

.collapse {
    float: right;
    margin-top: -25px
}

.warrenty {
    margin-top: 40px;
    border-top: 3px solid #cdcfd0; 
    border-bottom: 3px solid #cdcfd0;
    padding-bottom: 20px;

}

ul {
    font-family: 'Lato', sans-serif;
    color:#737577;
    font-weight: 500;
    margin-top: 50px;
    font-size: 18px;
    line-height: 40px;
    margin-right: 40px;
}

.list {
    margin-left: 20px;
    
}

.top {
    margin-top: 30px;
}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #3e3e3f;
    width: 640px;
}

.links {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 20px;
    line-height: 40px;
}

.sml {
    margin-left: 29.68%;
    
}

.socialmedia {
    display: inline-block;
    height: auto;
    margin-top: 20px;
	margin-left: 5%;
	margin-right:auto;
    z-index: 10;
    
}

.cr {
    margin-top: 20px;
}


@media screen and (min-width: 641px) {
    

    .wrapper {
        max-width: 1200px;
        width: 100%;

    }
    
    header {
        width: 100%;
        margin-left: 40px;
    }
    
    p {
        margin-left: 0;
    }

    .color {
        float: right;
        font-size: 24px;
        line-height: 50px;
        text-align: right;
        margin-bottom: 10px;
    }
    
    button {
        margin-left: 600px;
        margin-bottom: 55px;
        width: 300px;
        height: 80px;
    }
    
    .buttonstyle {
        position: relative;
    }

    .nodesk {
        display: none;

    }

    .nomobile {
        display: block;
    }

    .menu_button {
        display: block;
    }
    
    .navicon {
        display: block;
        
    }
    
    .fixed{
        width: 1200px;
    }
    
    .logo {
        margin-left: 20%;
        margin-top: 12px;
        width: 13%;
        margin-right: 30%;
    }
    
    aside {
       float: right;
        margin-left: 0;
        margin-top: 50px;
        width: 580px;
        height: 310px;
        padding-top: 100px
    }
    
    .size {
        width: 620px;
        height: 410px;
        float:left;
        margin-left: 0;
        margin-right: 0;
        padding:0;
    
    }
    
    .last {
    float: left;
    margin-bottom: 140px;
    margin-top: -300px;
    margin-left: 170px;
    margin-right: 190px;
    padding-top: 0;

        
    }   

    .buttonstyle {
        margin-left: 200px;
    }
    
    .iconclass {
        margin-top: 500px;
        clear: both;
    }
    
    .box {
        margin-top: -75px;
        width: 360px;
        margin-right: 43px;
        float: left;
        margin-bottom: 80px;
        margin-left: -3px;

    }
    
    .app {
        float: left;
        margin-right: 22px;
    }
    
    .buttonbox {
        margin-top: 90px;
    }
    
    .iconlist1 {
        margin-top: 110px;
        width:600px;
        float: left
    }
    
    
    .iconlist2 {
        margin-top: 110px;
        width: 600px;
        float: right;
    }
    
    
    .pstyle {
        font-size: 17px;
        width: 370px;
        border-bottom: 3px solid #cdcfd0 ;
        float: right;
        border-top: none;
        padding-bottom: 15px;

    }
    
    .icon2 {
        width: 90px;
    }
    
    
    .image {
        margin-left: 170px;
        width: 70%;
        float: left;
        margin-top: -100px;
        margin-bottom: 100px;
    }
     
    
    footer {
        clear: both;
    }
    
    
    .sml {
        float: left;
        width: 25%;
        margin-left: 40px;
        margin-top: -50px;  

    }
    
    .cr {
        float: right;
        margin-right: 40px;
    }
    
    footer {
        width: 1200px;
    }


    
    